<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %12logger{1}.%-20M - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">               <!-- CHANGE THIS TO CHANGE DEBUG LEVEL -->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>